@import "tailwindcss";
@plugin "daisyui";

:root {
  /* Base */
  --background: #ffffff;
  --foreground: #171717;

  /* Brand */
  --primary: #389482;
  --primary-hover: #2f7f70;

  --secondary: #ffffff;
  --muted: #6b7280;

  /* UI */
  --border: #e5e7eb;
  --card: #ffffff;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: #ededed;
  }
} */

/* Font */


.plus-jakarta-sans-normal {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}



body {
  background: var(--background);
  color: var(--foreground);
 font-family: 'Plus Jakarta Sans', sans-serif;}
